.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc

**/tsconfig.json
**/.eslintrc.json
**/.prettierignore
**/eslint*
**/commitlint*

node_modules/
**/*.test.js
**/*.spec.js
tests/
.husky/
.env
.git/